@charset "utf-8";

@use "var" as var;
@use "mixin" as mixin;

// z-index一覧
// セッティング画面:20
// セッティングボタン:30
// ショップ入るボタン:2
// ショップ画面:3
// アイテムの表示:3
// アイテムを買った時の表示画面:10
* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: "dotgothic16", sans-serif;
  font-weight: 400;
}

a {
  color: #333;
  text-decoration: none;
}

main {
  margin: 50px auto;
  padding: 20px;

  border-radius: 5px;
  max-width: 1000px;
  width: 100%;
  position: relative;
}

// セッティング画面について ======================================================

.settingButton {
  font-size: 40px;
  position: absolute;
  bottom: -100px;
  z-index: 30;
  min-height: 50px;
  cursor: pointer;

  .fa-cog {
    color: #333;

    &.colorChange {
      color: #fff;
    }
  }
}

.settingWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  transition: 0.3;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .playerCurrentName {
      font-size: 40px;
      margin-bottom: 50px;
    }

    p {
      font-size: 20px;
      color: #fff;
      margin-bottom: 10px;
    }

    .playerNameInput {
      width: 300px;
      height: 50px;
      font-size: 30px;
      background-color: #fff;
      border: 1px solid #000;
      margin-bottom: 30px;
      border-radius: 3px;

      &:hover {
        border: 1px solid #28f;
      }
    }

    .playerNameDecisionButton {
      background-color: #28f;
      color: #fff;
      border: 1px solid #000;
      border-radius: 3px;
      padding: 10px;
      transition: 0.3s;

      &:hover {
        opacity: 0.5;
      }
    }

    .playerNameWindowMask {
      @include mixin.blackTranslucentMask();
      transition: 0.3;
      opacity: 0;
      visibility: hidden;

      &.show {
        opacity: 1;
        visibility: visible;
        z-index: 10;
      }
    }

    .playerNameModal {
      @include mixin.eachConfiramationModal();
      z-index: 20;
      top: 0%;
      transform: translateY(-50%);
      left: 0%;

      &.show {
        opacity: 1;
        visibility: visible;
        z-index: 10;

        p {
          display: block;
          font-size: 16px;
          color: #333;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 30px;
          text-align: center;
        }

        .playerNameConfiramationButton {
          @include mixin.eachConfiramationButton();
        }
      }
    }
  }
}

.main {
  &.active {
    animation: flash 0.3s linear;
  }

  @keyframes flash {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .enemyWrap {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    section {
      padding: 20px;

      h2 {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
      }
    }
  }

  .enemy {
    margin-bottom: 20px;
    text-align: center;
  }

  /* モンスターの画像 */

  .enemyImg {
    width: 100px;
    height: 100px;
    background-size: cover;
  }

  .player {
    position: relative;
    padding: 20px;

    .playerName {
      text-align: center;
    }

    .playerImg {
      width: 100px;
      height: 100px;
      background-size: cover;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .playerAttackPower {
      margin-top: 20px;
    }
  }

  /* アイテム */
  .haveItem {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;

    .haveItemList {
      margin-bottom: 20px;

      li {
        margin-top: 5px;
        gap: 5px;
        cursor: pointer;
        text-align: end;

        .useItemName {
        }
        .useItemButton {
          color: #fff;
          background-color: green;
          border: 1px solid #333;
          border-radius: 5px;
          margin-left: 5px;
          padding: 3px;
          transition: 0.3s;

          &.inActive {
            pointer-events: none;
            opacity: 0.5;
          }

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .magic {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 20%;
    right: 0;
    cursor: pointer;

    img {
      width: 50px;
      height: auto;

      &.inActive {
        opacity: 0.2;
        pointer-events: none;
      }
    }
  }

  /* コイン */
  .coin {
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
  }

  .hpGauge {
    @include mixin.gaugeBorder();
  }

  .hpGaugeValue {
    @include mixin.gaugeValue(#6bf);
  }

  .hp {
    @include mixin.hpAndMpDisplayStyle();
  }

  .mpGauge {
    @include mixin.gaugeBorder();
  }

  .mpGaugeValue {
    @include mixin.gaugeValue(purple);
  }

  .mp {
    @include mixin.hpAndMpDisplayStyle();
  }

  .KilledNumbers {
    display: flex;
    justify-content: flex-end;
  }

  .nowKilledNumber {
    margin-left: 5px;
  }

  .selectEnemyMask {
    @include mixin.blackTranslucentMask();
    transition: 0.3;
    opacity: 0;
    visibility: hidden;
    
    &.isActive {
      opacity: 1;
      visibility: visible;
    }
  }

  // 敵を選ぶ表示
  .selectEnemy {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    min-width: 500px;
    height: 300px;
    transition: 0.3;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;

    &.isActive {
      opacity: 1;
      visibility: visible;
    }
  }

  .logs {
    border: 1px solid #777;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.8;
    height: 250px;
    overflow: auto;
    margin-top: 30px;
    box-shadow: 0 0 3px 0 #777 inset;
  }

  .attack {
    margin: 50px auto 0;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f44;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  .shopIn {
    @include mixin.shopInOutButton();
    background-color: #ccc;
    color: #fff;
    pointer-events: none;
    visibility: visible;
    opacity: 0.3;
    transition: 0.5s;

    &.active {
      background-color: darkseagreen;
      cursor: pointer;
      visibility: visible;
      opacity: 1;
      transform: scale(1.2);
      pointer-events: auto;
      position: relative;
      z-index: 2;

      &:hover {
        transform: scale(1.5);
      }
    }
  }

  .attack.deActive {
    pointer-events: none;
    opacity: 0.5;
  }
}

.mask {
  @include mixin.blackTranslucentMask();
  transition: 0.3;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 10px;
  min-width: 500px;
  transition: 0.3;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modalTitle {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.modalNextButton {
  margin: 50px auto 0;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28f;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;

  &.hidden {
    display: none;
  }
}

//TODO ショップ =========================================
.itemWindow {
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  padding: 20px;

  &.show {
    opacity: 1;
    visibility: visible;
    z-index: 3;
  }

  .playerCoinDisplay {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
  }

  .itemType {
    width: 90%;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 2s;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    margin-right: 20px;

    li {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 20px;
      border: 1px solid #000;
      padding: 5px;

      img {
        height: 100px;
      }
      .itemName {
        width: calc(90% / 4);
      }
      .itemPrice {
      }
      .itemBuyButton {
      }
    }

    &.show {
      opacity: 1;
      visibility: visible;
      z-index: 3;

      // アイテムの画像についてはid指定
      .shopItemImage {
        margin: 0 20px;

        .eachShopItemImage {
          width: calc((100vw - 20px) / 3);
          height: auto;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .numberOfItem {
        cursor: pointer;
      }
    }
  }

  .itemBuyButton {
    @include mixin.itemBuyButton();
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
  // &.active {
  //   opacity: 1;
  //   pointer-events: auto;
  // }
  // pointer-events: none;

  .itemBuyWindowMask {
    @include mixin.blackTranslucentMask();
    transition: 0.3;
    opacity: 0;
    visibility: hidden;

    &.show {
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }
  }

  .itemBuyModal {
    @include mixin.eachConfiramationModal();
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);

    &.show {
      visibility: visible;
      opacity: 1;

      p {
        display: block;
        font-size: 20px;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
      }

      .coinBalance {
        font-size: 20px;
        color: chocolate;
        margin-bottom: 20px;
      }

      .itemBuyConfiramationButton {
        @include mixin.eachConfiramationButton();
      }
    }
  }

  .itemNotBuyModal {
    @include mixin.eachConfiramationModal();
    border: 1px solid #333;
    z-index: -20;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.show {
      opacity: 1;
      visibility: visible;
      z-index: 10;

      p {
        display: block;
        font-size: 16px;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        text-align: center;
      }

      .itemBuyConfiramationButton {
        @include mixin.eachConfiramationButton();
      }
    }
  }

  .sellItem {
    position: absolute;
    bottom: 10%;
    right: 25%;

    .sellItemList {
      li {
        &:first-of-type {
          button {
            &.inActive {
              pointer-events: none;
              opacity: 0.5;
            }
          }
        }

        &:nth-of-type(3) {
          button {
            &.inActive {
              pointer-events: none;
              opacity: 0.5;
            }
          }
        }
        margin-top: 10px;
        button {
          border: 2px solid #28f;

          color: #28f;
          border-radius: 5px;
          padding: 2px;
          margin: 5px;
          transition: 0.5s;
          display: flex;
          justify-content: center;
          justify-items: center;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  .shopOut {
    @include mixin.shopInOutButton();
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkseagreen;
    color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      transform: translateX(-50%) scale(1.2);
    }
  }
}

/* left: 50%;
  transform: translate(-50%, -50%); */
