<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>戦闘ゲーム</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css" />
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script>
    // アドビフォント
    (function (d) {
      var config = {
        kitId: 'qwv5fgw',
        scriptTimeout: 3000,
        async: true
      },
        h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
    })(document);
  </script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="script.js" defer></script>
</head>

<body>
  <div id="app">

    <main class="main">

      <!-- セッティング -->
      <div class="settingButton" @click="toSet">
        <i class="fa fa-cog" :class="{colorChange: isColorChange}"></i>
      </div>
      <!-- class="settingWindow" -->
      <div class="settingWindow" :class="{active: isNameActive}">
        <div class="playerCurrentName">
        </div>

        <!-- 名前の入力 -->
        <p>変更する名前を入力してください。</p>
        <input class="playerNameInput" v-model="this.playersData[this.currentPlayerIndex].name" type="text" name="playerNameInput">
        <button class="playerNameDecisionButton" @click="playerNameDecision">決定</button>

        <div class="playerNameWindowMask"></div>
        <div class="playerNameModal">
          <p>名前を変更しました。</p>
          <button class="playerNameConfiramationButton">確認した</button>
        </div>
      </div>

      <!------------------------- 戦闘画面 ------------------------->

      <!-- 敵の表示 -->
      <div class="enemyWrap">
        <section class="enemy" v-for="(enemy, enemyIndex) in encountEnemies" key="enemyIndex"
        v-show="enemy.isDefeat">
          <!-- v-show="isVisible" -->
          <!-- <template> -->
            <h2 :value="enemyData.name">
              {{enemy.name}}
            </h2>
  
            <img class="enemyImg" :src="enemy.img">
  
            <div class="hpGauge">
              <div class="hpGaugeValue" :style="enemyHpGaugeStyle(enemy)">
                <!-- 選択した敵のみのHPを減らすため引数enemyを渡す -->
              </div>
            </div>
            <div class="hp">
              {{enemy.hp}} / {{enemy.maxHp}}
            </div>
          <!-- </template> -->
        </section>
      </div>

      <!-- プレイヤーの表示 -->
      <section class="player">
        <p>キャラ選択</p>

        <select v-model="currentPlayerIndex">
          <option v-for="(player, playerIndex) in playersData" :value="playerIndex">{{player.name}}</option>
        </select>
        <!-- 名前 -->
        <h2 class="playerName">
          {{playersData[currentPlayerIndex].name}}
        </h2>

        <p>攻撃する敵の選択</p>
        <select class="selectAttackEnemiesIndex" v-model="selectAttackEnemiesIndex" @change="changeAttackEnemies($event)">
          <option class="selectAttackEnemiesIndex" v-for="(attackEnemy, attackEnemyIndex) in encountEnemies"
            :value="attackEnemyIndex"
            >
            <!-- attackEnemyが存在しているか -->
            {{attackEnemy.name}}
          </option>
        </select>
        <!-- 画像 -->
        <img class="playerImg" :src="playersData[currentPlayerIndex].img">
        <!-- 攻撃力 -->
        <div class="playerAttackPower">
          攻撃力 : {{playersData[currentPlayerIndex].attack}}
        </div>
        <!-- 防御力 -->
        <div class="playerDeffencePower">
          防御力 : {{playersData[currentPlayerIndex].deffence}}
        </div>
        <!-- 経験値 -->
        <div class='exp'>
          経験値 : {{playersData[currentPlayerIndex].exp}}
        </div>
        <!-- レベル -->
        <div class='level'>
          レベル : {{playersData[currentPlayerIndex].level}}
        </div>

        <!-- アイテム -->
        <div class="haveItem">- アイテム一覧 -
          <ul class="haveItemList">
            <li class="haveItemEachList" v-for="(useItem,index) in items" key="useItem">
              <span>{{useItem.name}}:</span>
              <span>{{useItem.number}}個</span>
              <button class="useItemButton" :class="{inActive: useItem.number === 0}"
                @click="useTheItem(index)">アイテムを使う
              </button>
            </li>
          </ul>
        </div>

        <!-- 魔法 -->
        <div class="magic">
          <img v-for="(magic, magicIndex) in magics" :src="magic.img" alt="魔法"
            :class="{inActive: magic.mp > playerData.mp }" @click="useMagic(magic)">
        </div>

        <!-- コイン -->
        <div class="coin">
          コイン : {{playerData.coin}}
        </div>

        <!-- HPゲージ -->
        <div class="hpGauge">
          <div class="hpGaugeValue" :style="playerHpGaugeStyle()">
          </div>
        </div>

        <!-- HPの表示 -->
        <div class="hp">
          HP: {{playersData[currentPlayerIndex].hp}} / {{playersData[currentPlayerIndex].maxHp}}
        </div>

        <!-- MPゲージ -->
        <div class="mpGauge">
          <div class="mpGaugeValue" :style="mpGaugeStyle()">
          </div>
        </div>

        <div class="mp">
          MP: {{playersData[currentPlayerIndex].mp}} / {{playersData[currentPlayerIndex].maxMp}}
        </div>

        <!-- 討伐数 -->
        <div class="playerStatus">
          <div class="KilledNumbers">
            討伐数 : <div class="nowKilledNumber">
              {{nowKilledNumber}}/{{goalKilledNumber}}
            </div>
            <div class="targetKilledNumber"></div>
          </div>
        </div>

        <div class="selectEnemyMask" :class="{isActive: isSelectEnemyMask}"></div>
        <div class="selectEnemy" :class="{isActive: isSelectEnemy}"v-for="(enemy, enemyIndex) in encountEnemies">
          {{enemy.name}}
        </div>

        <!-- 攻撃のログ -->
        <ul class="logs">
          <li v-for:="log in logs" :key="log" v-html="log"></li>
        </ul>
        <button class="attack" :class="{deActive: deActive}" 
        @click="selectEnemy"
        >攻撃する</button>
        <!-- @click="makeAnAttack" -->
        
        <button class="shopIn" :class="{active: isShopIn}" @click="shopIn">ショップに入る</button>
      </section>
    </main>

    <!-- モーダル -->
    <div class="mask" :class="{active: isModalActive}"></div>
    <div class="modal" :class="{active: isModalActive}">
      <h2 class="modalTitle"></h2>
      <a class="modalNextButton" :class="{hidden: isNextButtonHidden}"
        @click="clickModalNextButton">次へすすむ</a>
    </div>

    <!------------------------- アイテムショップ画面 ------------------------->
    <div class="itemWindow" :class="{show: isItemWindow}">

      <div class="playerCoinDisplay">
        現在のコイン:{{playerData.coin}}
      </div>

      <ul class="itemType" :class="{show: isItemWindow}">
        <li v-for="(item, itemIndex) in items" :key="item.name"
          :style="{opacity: Math.floor(playerData.coin / item.price) === 0 ? '.5' : '1'}">
          <img :src="item.image" :alt="`${item.name}の画像`">
          <p class="itemName">{{item.name}}</p>
          <select name="buyNum" v-model="item.buyNum" @change="itemNumberChange(item, itemIndex)">
            <!-- 買える個数はコインの数で決める -->
            <option v-for="n in Math.floor(playerData.coin / item.price)" :value="n" :key="n">{{n}}</option>
          </select>
          <p class="itemPrice">売り値 : {{item.price * item.buyNum }}</p>
          <div class="itemBuyButton" @click="buyItem(itemIndex)">購入</div>
        </li>
      </ul>

      <!-- アイテム -->
      <div class="itemBuyWindowMask"></div>
      <div class="itemBuyModal">
        <p>アイテムを購入した</p>
        <div class="coinBalance"></div>
        <button class="itemBuyConfiramationButton">確認した</button>
      </div>

      <div class="itemNotBuyModal">
        <p>お金が足りず<br>アイテムを購入できませんでした。</p>
        <button class="itemBuyConfiramationButton">確認した</button>
      </div>

      <div class="sellItem">
        <ul class="sellItemList"></ul>

      </div>

      <div class='shopOut' @click="shopOut">ショップを出る</div>


    </div>
  </div>
</body>

</html>