@charset "UTF-8";
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "dotgothic16", sans-serif;
  font-weight: 400;
}

a {
  color: #333;
  text-decoration: none;
}

main {
  margin: 50px auto;
  padding: 20px;
  background-color: silver;
  border-radius: 5px;
  max-width: 1000px;
  width: 100%;
  position: relative;
}

.settingButton {
  font-size: 40px;
  position: absolute;
  bottom: -100px;
  z-index: 30;
  min-height: 50px;
  cursor: pointer;
}
.settingButton .fa-cog {
  color: #333;
}
.settingButton .fa-cog.colorChange {
  color: #fff;
}

.settingWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  transition: 0.3;
  opacity: 0;
  visibility: hidden;
}
.settingWindow.active {
  opacity: 1;
  visibility: visible;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.settingWindow.active .playerCurrentName {
  font-size: 40px;
  margin-bottom: 50px;
}
.settingWindow.active p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}
.settingWindow.active .playerNameInput {
  width: 300px;
  height: 50px;
  font-size: 30px;
  background-color: #fff;
  border: 1px solid #000;
  margin-bottom: 30px;
  border-radius: 3px;
}
.settingWindow.active .playerNameInput:hover {
  border: 1px solid #28f;
}
.settingWindow.active .playerNameDecisionButton {
  background-color: #28f;
  color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 10px;
  transition: 0.3s;
}
.settingWindow.active .playerNameDecisionButton:hover {
  opacity: 0.5;
}
.settingWindow.active .playerNameWindowMask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3;
  opacity: 0;
  visibility: hidden;
}
.settingWindow.active .playerNameWindowMask.show {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.settingWindow.active .playerNameModal {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 20;
  top: 0%;
  transform: translateY(-50%);
  left: 0%;
}
.settingWindow.active .playerNameModal.show {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.settingWindow.active .playerNameModal.show p {
  display: block;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
}
.settingWindow.active .playerNameModal.show .playerNameConfiramationButton {
  display: block;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  background-color: #6bf;
}

.main {
  /* モンスターの画像 */
  /* アイテム */
  /* コイン */
}
.main.active {
  animation: flash 0.3s linear;
}
@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.main section {
  background-color: #fff;
  padding: 20px;
}
.main section h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.main .enemy {
  margin-bottom: 20px;
  text-align: center;
}
.main .enemyImg {
  width: 100px;
  height: 100px;
  background-size: cover;
}
.main .player {
  position: relative;
}
.main .playerImg {
  width: 100px;
  height: 100px;
  background-size: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.main .haveItem {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}
.main .haveItem .haveItemList {
  margin-bottom: 20px;
}
.main .haveItem .haveItemList li {
  margin-top: 5px;
  gap: 5px;
  cursor: pointer;
  text-align: end;
}
.main .haveItem .haveItemList li .useItemButton {
  color: #fff;
  background-color: green;
  border: 1px solid #333;
  border-radius: 5px;
  margin-left: 5px;
  padding: 3px;
  transition: 0.3s;
}
.main .haveItem .haveItemList li .useItemButton.inActive {
  pointer-events: none;
  opacity: 0.5;
}
.main .haveItem .haveItemList li .useItemButton:hover {
  opacity: 0.5;
}
.main .magic {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 20%;
  right: 0;
  cursor: pointer;
}
.main .magic img {
  width: 50px;
  height: auto;
}
.main .magic img.inActive {
  opacity: 0.2;
  pointer-events: none;
}
.main .coin {
  text-align: right;
  font-size: 20px;
  margin-top: 20px;
}
.main .hpGauge {
  border: 1px solid #777;
  margin-top: 10px;
}
.main .hpGaugeValue {
  background-color: #6bf;
  height: 15px;
  transition: 0.3s;
  width: 100%;
}
.main .hp {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.main .mpGauge {
  border: 1px solid #777;
  margin-top: 10px;
}
.main .mpGaugeValue {
  background-color: purple;
  height: 15px;
  transition: 0.3s;
  width: 100%;
}
.main .mp {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.main .KilledNumbers {
  display: flex;
  justify-content: flex-end;
}
.main #nowKilledNumber {
  margin-left: 5px;
}
.main .logs {
  border: 1px solid #777;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.8;
  height: 250px;
  overflow: auto;
  margin-top: 30px;
  box-shadow: 0 0 3px 0 #777 inset;
}
.main .attack {
  margin: 50px auto 0;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f44;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.main .attack:hover {
  transform: scale(1.2);
}
.main .shopIn {
  margin: 50px auto 0;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  background-color: #ccc;
  color: #fff;
  pointer-events: none;
  visibility: visible;
  opacity: 0.3;
  transition: 0.5s;
}
.main .shopIn:hover {
  opacity: 0.5;
}
.main .shopIn.active {
  background-color: darkseagreen;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transform: scale(1.2);
  pointer-events: auto;
  position: relative;
  z-index: 2;
}
.main .shopIn.active:hover {
  transform: scale(1.5);
}
.main .attack.deActive {
  pointer-events: none;
  opacity: 0.5;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3;
  opacity: 0;
  visibility: hidden;
}
.mask.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  min-width: 500px;
  transition: 0.3;
  opacity: 0;
  visibility: hidden;
}
.modal.active {
  opacity: 1;
  visibility: visible;
}

.modalTitle {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.modalNextButton {
  margin: 50px auto 0;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28f;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.modalNextButton.hidden {
  display: none;
}

.itemWindow {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  padding: 20px;
}
.itemWindow.show {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}
.itemWindow .playerCoinDisplay {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
}
.itemWindow .itemType {
  width: 90%;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 2s;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  margin-right: 20px;
}
.itemWindow .itemType li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  border: 1px solid #000;
  padding: 5px;
}
.itemWindow .itemType li img {
  height: 100px;
}
.itemWindow .itemType li .itemName {
  width: 22.5%;
}
.itemWindow .itemType.show {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}
.itemWindow .itemType.show .shopItemImage {
  margin: 0 20px;
}
.itemWindow .itemType.show .shopItemImage .eachShopItemImage {
  width: calc((100vw - 20px) / 3);
  height: auto;
}
.itemWindow .itemType.show .shopItemImage .eachShopItemImage img {
  width: 100%;
  height: auto;
}
.itemWindow .itemType.show .numberOfItem {
  cursor: pointer;
}
.itemWindow .itemBuyButton {
  display: block;
  color: #fff;
  background-color: #28f;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  cursor: pointer;
}
.itemWindow .itemBuyButton:hover {
  opacity: 0.7;
}
.itemWindow .itemBuyWindowMask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3;
  opacity: 0;
  visibility: hidden;
}
.itemWindow .itemBuyWindowMask.show {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.itemWindow .itemBuyModal {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}
.itemWindow .itemBuyModal.show {
  visibility: visible;
  opacity: 1;
}
.itemWindow .itemBuyModal.show p {
  display: block;
  font-size: 20px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.itemWindow .itemBuyModal.show .coinBalance {
  font-size: 20px;
  color: chocolate;
  margin-bottom: 20px;
}
.itemWindow .itemBuyModal.show .itemBuyConfiramationButton {
  display: block;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  background-color: #6bf;
}
.itemWindow .itemNotBuyModal {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  border: 1px solid #333;
  z-index: -20;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.itemWindow .itemNotBuyModal.show {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.itemWindow .itemNotBuyModal.show p {
  display: block;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
}
.itemWindow .itemNotBuyModal.show .itemBuyConfiramationButton {
  display: block;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  background-color: #6bf;
}
.itemWindow .sellItem {
  position: absolute;
  bottom: 10%;
  right: 25%;
}
.itemWindow .sellItem .sellItemList li {
  margin-top: 10px;
}
.itemWindow .sellItem .sellItemList li:first-of-type button.inActive {
  pointer-events: none;
  opacity: 0.5;
}
.itemWindow .sellItem .sellItemList li:nth-of-type(3) button.inActive {
  pointer-events: none;
  opacity: 0.5;
}
.itemWindow .sellItem .sellItemList li button {
  border: 2px solid #28f;
  background-color: #fff;
  color: #28f;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.itemWindow .sellItem .sellItemList li button:hover {
  transform: scale(1.05);
}
.itemWindow .shopOut {
  margin: 50px auto 0;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: darkseagreen;
  color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: 0.5s;
}
.itemWindow .shopOut:hover {
  opacity: 0.5;
}
.itemWindow .shopOut:hover {
  transform: translateX(-50%) scale(1.2);
}

/* left: 50%;
  transform: translate(-50%, -50%); *//*# sourceMappingURL=style.css.map */